<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-clearmin.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/select2.min.css">
    <link href="../../static/css/jquery.pagination.css" rel="stylesheet" />
    <title>二次分配管理后台</title>
    <style type="text/css">
        a:hover{text-decoration: none}
    </style>
</head>
<body class="cm-no-transition cm-1-navbar cm-2-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="#" class="cm-logo"></a></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <!--导航栏动态生成-->
                    <ul  class="list-group" th:if="''!=${permissionList}" th:each="p : ${permissionList}">
                        <li class="list-group-item "><a  th:href="${p.href}" th:class="${p.icon}" th:text="${p.name}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex"><h1>教师数据列表</h1></div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"><span
                    class="label label-danger">0</span></button>
            <div class="popover cm-popover bottom">
                <div class="arrow"></div>
                <div class="popover-title">当前无系统通知消息</div>
            </div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                </li>
                <li class="divider"></li>
                <li>
            </ul>
        </div>
    </nav>
    <nav class="cm-navbar cm-navbar-default cm-navbar-slideup">
        <div class="cm-flex">
            <div class="cm-breadcrumb-container">
                <ol class="breadcrumb">
                    <li><a href="#">..</a></li>
                    <li><a href="#">..</a></li>
                </ol>
            </div>
        </div>
    </nav>
</header>


<div id="global">
    <div class="container-fluid">
        <!--完成此部分-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div>
                            <span style="font-size: 19px">教师数据展示</span>
                                <!--<select id="qpname" name="qpname">-->
                                    <!--<option value="all">all</option>-->
                                            <!--<#list memos as memo>-->
                                                <!--<option value="${memo}">${memo}</option>-->
                                            <!--</#list>-->
                                <!--</select>-->
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-striped">
                            <thead>
                            <tr class="success">
                                <td>工号</td>
                                <td>名称</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="t:${teachers}">
                                <td th:text="${t.gongHao}"></td>
                                <td th:text="${t.name}"></td>
                                <td>
                                    <button id="updateButton" type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#delete"
                                            data-whatever="">修改
                                    </button>
                                    <button id="deleteButton" type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#delete"
                                            data-whatever="">删除
                                    </button>
                                    <button id="look" type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#delete"
                                            data-whatever="">申报状态
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                           <center><div id="pagination3" class="page fl"></div></center>
                    </div>
                </div>
            </div>
        </div>





        <!--删除-->
        <div id="delete" class="modal fade bs-example" tabindex="-1" role="dialog" aria-labelledby="admin_add_Modal_Label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-horizontal"  method="post" id="form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                                    aria-hidden="true">&times</span></button>
                            <h4 class="modal-title" id="myModal_Label" align="center">是否删除?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">是</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>








        <footer class="cm-footer"><span class="pull-right">&copy; HAUE edu.</span></footer>
    </div>


<script src="../../static/js/jquery-2.1.3.min.js"></script>
<script src="../../static/js/jquery.mousewheel.min.js"></script>
<script src="../../static/js/jquery.cookie.min.js"></script>
<script src="../../static/js/fastclick.min.js"></script>
<!--<script src="../../static/js/bootstrap.js"></script>-->
<!--<script src="../../static/js/clearmin.js"></script>-->
<!--<script src="../../static/js/select2.min.js"></script>-->

    <!--<script  type="text/javascript">-->
        <!--$(function() {-->
            <!--$("#pagination3").pagination({-->
                <!--currentPage :${currentPage},-->
                <!--totalPage :${totalPage},-->
                <!--isShow : true,-->
                <!--homePageText : "首页",-->
                <!--endPageText : "尾页",-->
                <!--prevPageText : "上一页",-->
                <!--nextPageText : "下一页",-->
                <!--/*callback : function(current) {-->
                    <!--$("#current3").text(current)-->
                <!--}*/-->
            <!--});-->
        <!--})-->
    <!--</script>-->
 </body>
</html>