<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
    <title>审批</title>
    <style type="text/css">
      a:hover{text-decoration: none}
      a{
        color: black;
        font-size: 17px;
        background-color: whitesmoke;
      }
    </style>
  </head>
  <body>
  <div class="navbar navbar-default" role="navigation">
    　<div class="navbar-header">
    <!--+'&#45;&#45;审批人'+${user.username}-->
    <span class="navbar-brand" th:text="'申报人:'+${teacher.name}+'-----------审批人:'+${user.username}"></span>
    　</div>
  </div>

    <form role="form" method="post">
      <table class="table table-hover table-bordered" >
        <tr class="success">
          <td>申报项目</td>
          <td>评分</td>
        </tr>
        <tr th:each="d:${declarations}">
          <td th:text="${d.name}"></td>
          <td th:if="${d.standards.size()} gt 0" th:text="${d.standards.get(0).standard}">
          <td th:if="${d.standards.size()} eq 0" th:text="空">
          </td>
        </tr>


      </table>
      </ul>
    </form>
    <script src="../../static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>
