<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
    <title>教师申报表</title>
    <style></style>

  </head>
  <body class="cm-login">

    <form role="form" method="post">
      <ul class="list-group" th:each="d:${declarations}">
        <div>
          <li class="list-group-item col-xs-8" th:text="${d.name}"  >

          </li>
          <div class="checkbox"><label><input class="in" th:name="${d.name}" type="checkbox" th:value="${d.id}"></label></div>
        </div>
      </ul>
    </form>
    <input id="b" type="button"  value="提交">
    <script src="../../static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
           var ids=new Array();
          $("#b").click(function () {
              var lis=$(".in")
              for(var i=0;i<lis.length;i++){
                  if(lis[i].checked){
                  ids.push(lis[i].value)
                  }
              }

              $.ajax({
                  url: "formHandler",
                  type: "post",
                  data: {
                      "ids": ids
                  },
                  traditional: true,
                  success: function(data) {
                      alert("提交成功!")
                  }
              });
          })



        })
    </script>
  </body>
</html>
