<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
    <title>老师个人主页</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="navbar navbar-default" role="navigation">
    　<div class="navbar-header">
            <span class="navbar-brand" th:text="${teacher.name}+' 的个人主页'"></span>
    　</div>
    <ul class="nav navbar-nav">
      <li ><a href="getDecs">申报项目</a></li>
      <!--<li><a th:href="@{admin/personal(gongHao=${teacher.gongHao})}">个人信息</a></li>-->
      <li><a class="btn btn-default" data-toggle="modal" data-target=".personal">通过项目</a></li>

      <li><a  class="btn btn-gray" data-toggle="modal" data-target=".bs-example-modal-sm">申报状态</a></li>
      <li class="success"><a class="btn btn-info" data-toggle="modal" data-target=".personalInfo">个人信息</a></li>
      <li class="active"><a href="teacherloginOut">退出登陆</a></li>
    </ul>
  </div>
  <div style="width: 1300px;height: 1000px; margin: 20px auto">
  <ul class="list-group ">
    <li  class="list-group-item list-group-item-success col-sm-16"  th:text="'工号:'+${teacher.gongHao}"></li>
    <li  class="list-group-item list-group-item-success" th:text="'姓名:'+${teacher.name}"></li>
    <li class="list-group-item list-group-item-success" th:text="'岗位:'+${teacher.gangWei}"></li>
    <li class="list-group-item list-group-item-success" th:text="'行政部门:'+${teacher.xingZhen}"></li>
    <li class="list-group-item list-group-item-success" th:text="'职称:'+${teacher.zhiCheng}"></li>
    <li class="list-group-item list-group-item-success" th:text="'额定教学:'+${teacher.edJiao}"></li>
    <li class="list-group-item list-group-item-success" th:text="'实际教学:'+${teacher.shijiJiao}*10"></li>
    <li class="list-group-item list-group-item-success" th:text="'额定科研:'+${teacher.edKe}"></li>
    <li class="list-group-item list-group-item-success" th:text="'实际科研:'+${teacher.shijiKe}*10"></li>
  </ul>

  </div>
  <div class="modal fade personalInfo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">个人信息</h4>
        </div>
        <div class="modal-body">
          <!--<ul class="nav nav-pills nav-stacked" style="max-width: 260px;" >-->
          <ul class="list-group">
            <li class="list-group-item active" th:text="'工号:'+${teacher.gongHao}"></li>
            <li class="list-group-item active" th:text="'姓名:'+${teacher.name}"></li>
            <li class="list-group-item list-group-item-info" th:text="'岗位:'+${teacher.gangWei}"></li>
            <li class="list-group-item list-group-item-info" th:text="'行政部门:'+${teacher.xingZhen}"></li>
            <li class="list-group-item list-group-item-info" th:text="'职称:'+${teacher.zhiCheng}"></li>
            <li class="list-group-item list-group-item-info" th:text="'额定教学:'+${teacher.edJiao}"></li>
            <li class="list-group-item list-group-item-info" th:text="'实际教学:'+${teacher.shijiJiao}*10"></li>
            <li class="list-group-item list-group-item-info" th:text="'额定科研:'+${teacher.edKe}"></li>
            <li class="list-group-item list-group-item-info" th:text="'实际科研:'+${teacher.shijiKe}*10"></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade personal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">通过项目</h4>
        </div>
        <div class="modal-body">
          <span th:if="${teacher.declareStatus}==2" th:text="项目审核中"></span>
          <p  th:if="${teacher.declareStatus}==1" th:text="审核失败"></p>
          <p  th:if="${teacher.declareStatus}==3" th:text="尚无申报"></p>
          <ul class="nav nav-pills nav-stacked" style="max-width: 260px;"   th:each="d:${declarations}">
            <li class="success">
              <!--<a th:text="${d.name}+'      分值:'+${d.score}"></a>-->
              <a th:if="${d.standards.size()} eq 0" th:text="${d.name}"></a>
              <a th:if="${d.standards.size()} gt 0" th:text="${d.name}+' ------ 分值:'+${d.standards.get(0).standard}"></a>
            </li>

          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>












  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">申报状态</h4>
        </div>
        <div class="modal-body">
          <p  th:if="${teacher.declareStatus}==0" th:text="审核成功"></p>
          <p  th:if="${teacher.declareStatus}==1" th:text="审核失败"></p>
          <p  th:if="${teacher.declareStatus}==2" th:text="审核中"></p>
          <p  th:if="${teacher.declareStatus}==3" th:text="尚无申报"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
  </body>
</html>
