<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <title>CLEARMIN / LESS</title>
    <style type="text/css">
        h1{
            background: greenyellow;
        }
    </style>
  </head>
<body>
        <h1 align="center">二次分配系统</h1>
        <h2 align="center">出错啦！</h2>
        <h2 align="center">出错啦！</h2>
        <h2 align="center">出错啦！</h2>
        <h2 align="center">出错啦！</h2>
        <h2 align="center">出错啦！</h2>


</body>
</html>
